
<footer class="large-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">contact us<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <address>
                    <span><i class="fa fa-map-marker"></i>00456 Some Address line</span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-envelope fa-sm"></i><a href="#">email@domain.tld</a></span>
                    <div class="footer-separator"></div>
                    <span><i class="fa fa-phone"></i>01-23456789</span>
                </address>
                <div class="clear"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="second-color">quick links<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <ul class="footer-ul">
                    <li><span class="custom-ul-bullet"></span><a href="index.html">Home</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="listing-grid-right-sidebar.html">Listing</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="agencies-listing-right-sidebar.html">Agencies</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="archive-grid.html">Blog</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="contact1.html">Contact us</a></li>
                    <li><span class="custom-ul-bullet"></span><a href="submit-property.html">Submit property</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h4 class="second-color">from the blog<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <article>
                            <a href="blog-right-sidebar.html"><img src="images/footer-blog1.jpg" alt="" class="footer-blog-image" /></a>
                            <div class="footer-blog-title"><a href="blog-right-sidebar.html">This post title, lorem ipsum dolor sit</a></div>
                            <div class="footer-blog-date"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>					
                        </article>
                        <div class="footer-blog-separator hidden-xs"></div>
                    </div>
                    <div class="col-xs-6 col-sm-12">
                        <article>
                            <a href="blog-right-sidebar.html"><img src="images/footer-blog2.jpg" alt="" class="footer-blog-image" /></a>
                            <div class="footer-blog-title"><a href="blog-right-sidebar.html">This post title, lorem ipsum dolor sit</a></div>
                            <div class="footer-blog-date"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>					
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h4 class="second-color">newsletter<span class="special-color">.</span></h4>
                <div class="footer-title-separator"></div>
                <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <form class="form-inline footer-newsletter">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="enter your email">
                    <button type="submit" class="btn"><i class="fa fa-lg fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</footer>
<footer class="small-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 small-cont">
                <img src="images/logo-light.png" alt="" class="img-responsive footer-logo" />
            </div>
            
        </div>
    </div>
</footer>
</div>	


</footer>
<footer class="small-cont">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 small-cont">
            <img src="images/logo-light.png" alt="" class="img-responsive footer-logo" />
        </div>
        
    </div>
</div>
</footer>
</div>	
